<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<h1>Simin</h1>

	<h1><font color=#4E6E9F> Homepage by SiminL </font></h1>
<table border='' width="90%" align="center" cellpadding=20>
	<tr bgcolor=#FFB1B2>
		<td cospan=3 align="center">

<img src="http://2.bp.blogspot.com/-TEwv4nBzoHQ/VibxeJSAFII/AAAAAAAALwM/iy6IBLy31_g/s1600/qcc4.jpg" alt="QCC Art Gallery" width="500" height="333">      
      </td>
		
	</tr>
	<tr>
		<td rowspan=2 width="30%"><img src="Imgaes/Gallery.jpg" alt="QCC Art Gallery"</td>
		<td>cOpens in a new window The QCC Art Gallery of the City University of New York is a vital educational and cultural resource for Queensborough Community College, the Borough of Queens and the surrounding communities.</td>
		<td>dOpens in a new window The QCC Art Gallery of the City University of New York is a vital educational and cultural resource for Queensborough Community College, the Borough of Queens and the surrounding communities.</td>
	</tr>	
	<tr>
		<td>eOpens in a new window The QCC Art Gallery of the City University of New York is a vital educational and cultural resource for Queensborough Community College, the Borough of Queens and the surrounding communities.</td>
		<td>fOpens in a new window The QCC Art Gallery of the City University of New York is a vital educational and cultural resource for Queensborough Community College, the Borough of Queens and the surrounding communities.</td>
	</tr>	
	<tr>
		<td><h3>QCC Art Gallery</h3>
		Opens in a new window The QCC Art Gallery of the City University of New York is a vital educational and cultural resource for Queensborough Community College, the Borough of Queens and the surrounding communities.<br></td>
		<td colspan=2>h</td>
	
	</tr>	
	<tr bgcolor="yellow">
		<td colspan=3 align="center">i
			<a href=defult.html>HOME</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href=education.html>EDUCATION</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href=experience.html>EXPERIENCE</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href=contact.html>CONTACT</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		</td>
	</tr>	
	
</table>

